.TableColumn{
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    text-align: start;
    word-wrap:break-word;
}
@media only screen and (max-width:600px) {
    .TableColumn{
        position: relative;
        padding-left: 35%;
    }
}