.NavBarItem{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(9, 38, 55);
    border: 1px solid black;
    color: white;
    font-size: x-large;
    font-weight: lighter;
    padding: 5px 20px;
    /* border-radius: 100px; */
    margin: 0px 3px;
}
.NavBarItem:hover{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(14, 53, 77);
    border: 1px solid black;
    color: white;
    font-size: x-large;
    font-weight: lighter;
    padding: 5px 20px;
    margin: 0px 3px;
}