.DashboardAlertPanel{
    width: 80%;
    /* margin: 5px 0px; */
    padding: 10px;
    background-color: white;
    min-height: 300px;
    border: 1px solid rgb(220, 226, 229);
    /* border-radius: 15px; */
}
.header{
    padding: 15px;
}
@media only screen and (max-width:600px){
    .DashboardAlertPanel{
        width: 100%;
    }
}