.HistoryItemNormal{
    padding: 10px 15px;
    background-color: #00ff0033;
    border-bottom: 1px solid lightgray;
}
.HistoryItemNormal:hover{
    padding: 10px 15px;
    background-color: #00ff0063;
    border-bottom: 1px solid lightgray;
}
.HistoryItemAlerted{
    padding: 10px 15px;
    background-color: #ff000033;
    border-bottom: 1px solid lightgray;
}
.HistoryItemAlerted:hover{
    padding: 10px 15px;
    background-color: #ff000063;
    border-bottom: 1px solid lightgray;
}
.HistoryItemDate{
    display: inline-block;
    width: 200px;
}
.Host{
    display: inline-block;
    font-weight: bold;
}
.TriggerDescription{
    display: inline-block;
    margin-left: 30px;
}

@media only screen and (max-width:600px) {
    .HistoryItemNormal{
        padding: 10px 15px;
        background-color: #00ff0033;
        border-bottom: unset;
        margin-bottom: 10px;
    }
    .HistoryItemNormal:hover{
        padding: 10px 15px;
        background-color: #00ff0063;
        border-bottom: unset;
        margin-bottom: 10px;
    }
    .HistoryItemAlerted{
        padding: 10px 15px;
        background-color: #ff000033;
        border-bottom: unset;
        margin-bottom: 10px;
    }
    .HistoryItemAlerted:hover{
        padding: 10px 15px;
        background-color: #ff000063;
        border-bottom: unset;
        margin-bottom: 10px;
    }
    .HistoryItemDate{
        display: block;
    }
    .Host{
        display: block;
        font-weight: bold;
        word-break: break-all;
    }
    .TriggerDescription{
        display: block;
        margin-left: unset;
    }        
}