.NavBar {
    background-color: rgb(10, 70, 106);
    /* border: 1px solid rgb(10, 70, 106); */
    /* border-radius: 15px; */
    /* margin: 8px; */
    margin-bottom: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px){
    .NavBar{
        display: block;
    }
}