.NavBar {
    display: block;
    background-color: rgb(10, 70, 106);
    margin-bottom: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.ShowMenuButton{
    display: none;
}

@media only screen and (max-width: 600px){
    .NavBar{
        display: none;
        margin-bottom: unset;
    }
    .ShowMenuButton{
        display: block;
        text-decoration: none;
        background-color: rgb(10, 70, 106);
        text-align: center;
        color: white;
        font-size: x-large;
        font-weight: lighter;
        padding: 5px 20px;
        margin-bottom: 8px;
    }
}