.Table{
    width: 100%;
    border-collapse: collapse;
    overflow-x: scroll;
}
@media only screen and (max-width: 600px) {
  .Table{
      width: unset;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { 
      border: 1px solid;
      margin-bottom: 5px;
  }
  td:before {
    position: absolute;
    top: 5px;
    left: 6px;
    padding-right: 40px;
    white-space: nowrap;
    content: attr(data-tooltip);
  }
}